.tangram--bougie .figure1 {
    transform: rotate(225deg);
    right: 0px;
    bottom: -256px;
}

.tangram--bougie .figure2 {
    top: -489px;
    left: 382px;
    transform : rotate(90deg) skew(45deg);
}

.tangram--bougie .figure3 {
    right: 164px;
    top: -106px;
}

.tangram--bougie .figure4 {
    transform: rotate(270deg);
    left: 128px;
    bottom: -256px;
}

.tangram--bougie .figure5 {
    bottom: -128px;
    right: 128px;
}

.tangram--bougie .figure6 {
    top: 128px;
    left: 128px;
}

.tangram--bougie .figure7 {
    bottom: -256px;
    left:0;
}
