.tangram--gun .figure1 {
    /*already positionned*/
   
    transform:translate(209px,384px) rotate(180deg);
}

.tangram--gun .figure2 {
    transform: translate(569px,129px) skew(-45deg);
}

.tangram--gun .figure3 {
    transform: translate(390px,128px) rotate(90deg);
  
}

.tangram--gun .figure4 {
    
    transform:translate(571px,128px) rotate(135deg);
}

.tangram--gun .figure5 {
    /*already positionned*/
    
    transform:translate(-153px,1047px) rotate(225deg);
   
}

.tangram--gun .figure6 {
 
    transform:translate(825px,-51px)  rotate(45deg);
}

.tangram--gun .figure7 {
   
    transform:translate(-333px,308px) rotate(-45deg);
    
}
