.tangram--rocket{
    transform: scale(0.75);
    top:-30px;
}
/* TRIANGLE VERT POMME */
.tangram--rocket .figure1 {
    transform: translate(450px,-40px) rotate(90deg);
    animation-duration: 2s;
    animation-name: basictorocket1;
}

/* TRAPÈZE VIOLET */
.tangram--rocket .figure2 {
    transform: translate(450px, 728px) rotate(-90deg) skew(-45deg);
    animation-duration: 2s;
    animation-name: basictorocket2;
}

/* CARRÉ ROUGE */
.tangram--rocket .figure3 {
    transform: translate(194px,472px) rotate(45deg);
    animation-duration: 2s;
    animation-name: basictorocket3;
}

/* TRIANGLE ORANGE */
.tangram--rocket .figure4 {
    transform: translate(450px, -40px) rotate(180deg);
    animation-duration: 2s;
    animation-name: basictorocket4;
}

/* TRIANGLE JAUNE */
.tangram--rocket .figure5 {
    transform: translate(706px, 472px) rotate(180deg);
    animation-duration: 2s;
    animation-name: basictorocket5;
}

/* TRIANGLE BLEU */
.tangram--rocket .figure6 {
    transform: translate(66px, 600px);
    animation-duration: 2s;
    animation-name: basictorocket6;
}

/* TRIANGLE VERT FONCÉ */
.tangram--rocket .figure7 {
    transform: translate(194px, 728px) rotate(-90deg);
    animation-duration: 2s;
    animation-name: basictorocket7;
}
@keyframes basictorocket1{
    from {
        transform: rotate(0deg) translate(0px,0px);
    }
    to {
        transform: translate(450px,-40px) rotate(90deg);

    }
}

@keyframes basictorocket2{
    from {
        transform: rotate(0deg) skew(-45deg) translate(256px,-0px);
    }
    to {
        transform: translate(450px, 728px) rotate(-90deg) skew(-45deg);

    }
}

@keyframes basictorocket3{
    from {
        transform: rotate(0deg) translate(181px,0px) ;
    }
    to {
        transform: translate(194px,472px) rotate(45deg);
    }
}

@keyframes basictorocket4{
    from {
        transform: rotate(0deg) translate(128px,128px);
    }
    to {
        transform: translate(450px, -40px) rotate(180deg);
    }
}

@keyframes basictorocket5{
    from {
        transform: rotate(0deg) translate(0px,0px);
    }
    to {
        transform: translate(706px, 472px) rotate(180deg);
    }
}

@keyframes basictorocket6{
    from {
        transform: rotate(45deg) translate(0px,256px);
    }
    to {
        transform: translate(66px, 600px);
    }
}

@keyframes basictorocket7{
    from {
        transform: rotate(0deg) translate(0px,256px);
    }
    to {
        transform: translate(194px, 728px) rotate(-90deg);

    }
}
