/* TRIANGLE VERT POMME */
.tangram--shirt .figure1 {
    transform: translate(150px,-53px) rotate(45deg);
}

/* TRAPÈZE VIOLET */
.tangram--shirt .figure2 {
    transform: translate(511px, -53px) rotate(45deg) skew(45deg);
}

/* CARRÉ ROUGE */
.tangram--shirt .figure3 {
    transform: translate(330px,-53px);
}

/* TRIANGLE ORANGE */
.tangram--shirt .figure4 {
    transform: translate(331px, 128px) rotate(-135deg);
}

/* TRIANGLE JAUNE */
.tangram--shirt .figure5 {
    transform: translate(-213px, 489px) rotate(-45deg);
}

/* TRIANGLE BLEU */
.tangram--shirt .figure6 {
    transform: rotate(-135deg);
    top: 309px;
    left: -30px;
}

/* TRIANGLE VERT FONCÉ */
.tangram--shirt .figure7 {
    transform: translate(330px, -54px) rotate(45deg);
}
