/*------------------------ A NE PAS TOUCHER / MODIFIER *--------------------------/
/*------------------------ A NE PAS TOUCHER / MODIFIER *--------------------------/
/*------------------------ A NE PAS TOUCHER / MODIFIER *--------------------------/


/* Tangram */
.tangram {
    width:512px;
    height:512px;
    position: relative;
    margin:150px auto;
}

.tangram > div {
    position: absolute;
    transform-origin: 0 0;
}

.figure1 {
    border-right:256px solid transparent;
    border-bottom:256px solid transparent;
    border-top: 256px solid #99CC33;
}  

.figure2 {
    width:256px;
    height:128px;
    background:#6666CC;
    transform:skew(-45deg);
}

.figure3 {
    height: 181px;
    width: 181px;
    background: #FF6666;
}

.figure4 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top: 128px solid #FF9933;
    border-left-width: 128px;
    border-right-width: 128px;
}

.figure5 {
    border: 256px solid transparent;
    border-color: transparent #FFCC00 transparent transparent;
    border-width: 256px;
}

.figure6 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left: 128px solid #3399FF;
    border-bottom-width: 128px;
    border-top-width: 128px;
}

.figure7 {
    border-right:256px solid transparent;
    border-left:256px solid transparent;
    border-bottom:256px solid #33CC66;
}
